.navbar-brand img{
    max-height: 40px;
    max-width: 60%; 
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0; 
}
.btn{
	color: white;
	background-color: #518cca;
}

.background {
  background-image:url(/images/marvel_logo.PNG);
  background-repeat:no-repeat;
  background-position: center 300px;
}

body{
	background-color: #625a50;
	}


.panel{
	border: 1px solid white;
	border-radius: 5%;
	height: 500px;
	max-width: 400px;
	margin: 5px;
	display: block;
}

.img-circle{
	margin: 0 auto;
}

.panel-heading{
	padding: 0;
	margin: 0 auto;
	background-color: #f78f3f;
	}

	h2{
	color: black;
	background-color: #f78f3f;
	padding: 0;
	text-align: center;
	margin: 0 auto;
}

.panel-body{
	color: #e23636;
	padding: 5px;
	text-align: center;
}

.female-img{
	border: 3px solid #f441f4;
}

.male-img{
	border: 3px solid #518cca;
}