.navbar-brand img{
    max-height: 40px;
    max-width: 60%; 
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0; 
}
.btn{
	color: white;
	background-color: #518cca;
}

body{
	background-color: #3D362D;
	
}

.outputContainer{
	max-width: 80%;
}

.card{
	border: 1px solid white;
	border-radius: 2%;
	height: 500px;
	max-width: 315px;
	margin: 3px;
	padding: .05px;
}

h2{
	color: black;
	background-color: #f78f3f;
	text-align: center;
	overflow:hidden;
	margin-top: 0;
	border-radius: 4%;
}

.card img{
	vertical-align:middle;
}

p{
	color: #e23636;
	padding: 1px;
}

.female{
	border: 2px solid #f441f4;
}

.male{
	border: 2px solid #518cca;
}